@import url('https://fonts.googleapis.com/css?family=Megrim%7CRoboto+Mono:400,700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://developdenver.org/img/ballmer-peak.jpeg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.navbar {
  color: white;
  background-color: black;
  font-family: 'Megrim', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.navbar div li {
  padding-left: 50px;
}

.navbar div li:hover {
  cursor: pointer;
}

.navbar img {
  height: 60px;
  width: 60px;
}